.carrousel {
  position: relative;
  width: 100%;
  margin-top: 2.4rem;
  &__img {
    position: relative;
    width: 100%;
    height: 46.4rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $primary-color;
      background-repeat: no-repeat;
      opacity: 40%;
    }
  }
  .carrousel__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    padding: 1.6rem;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 1.6rem;
    background: rgba($color: #fff, $alpha: 0.5);
  }
}
