.footer {
  margin-top: auto;
  text-align: center;
  &__social {
    display: flex;
    justify-content: center;
    gap: 6.4rem;
    margin-bottom: 1.6rem;
    .facebook {
      background-image: url("../../assets/icons/facebook.png");
    }
    .instagram {
      background-image: url("../../assets/icons/instagram.png");
    }
    .facebook,
    .instagram {
      display: block;
      width: 5rem;
      height: 5rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  &__university {
    margin-bottom: 3.2rem;
    &-text {
      font-size: 1.2rem;
      a {
        color: $text-color;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
        color: $second-color;
      }
    }
  }
}
