/*===Colors===*/
/*===Global===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 99.2rem;
  margin: 0 auto;
}

.body__hidden {
  overflow: hidden;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}
.header__logo {
  cursor: pointer;
}
.header__logo img {
  width: 12rem;
}
.header__button {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.header__button .button__img {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/icons/menu.png");
  background-repeat: repeat;
  background-size: 100%;
}
.header__nav {
  position: fixed;
  top: 8.5rem;
  left: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 0.3s;
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  list-style: none;
}
.header__nav-list a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header__nav-list a:hover {
  color: #845ec2;
  text-decoration: underline;
}
.header .menu-visible {
  left: 0;
}

.carrousel {
  position: relative;
  width: 100%;
  margin-top: 2.4rem;
}
.carrousel__img {
  position: relative;
  width: 100%;
  height: 46.4rem;
}
.carrousel__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrousel__img .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #845ec2;
  background-repeat: no-repeat;
  opacity: 40%;
}
.carrousel .carrousel__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel__title {
  padding: 1.6rem;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 1.6rem;
  background: rgba(255, 255, 255, 0.5);
}

.about {
  margin-top: 3.2rem;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}
.about__text {
  width: 100%;
  text-align: center;
}
.about__text-title {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  color: #845ec2;
}
.about__text-content {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  text-align: justify;
}
.about__text-button {
  display: block;
  width: 100%;
  height: 3.2rem;
  margin-bottom: 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 2;
  color: #fff;
  background: #296073;
  cursor: pointer;
}
.about__text-button:hover {
  border: 0.2rem solid #296073;
  color: #296073;
  background: none;
}
.about__image {
  width: 50%;
}
.about__image img {
  width: 100%;
}

.quote {
  margin-top: 3.2rem;
  text-align: center;
}
.quote__phrase {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}
.quote__author {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #296073;
  text-align: end;
}

.identity {
  margin-top: 3.2rem;
}
.identity__title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  text-align: center;
  color: #845ec2;
}
.identity__container-mission, .identity__container-vision {
  margin-bottom: 1.6rem;
}
.identity__mission, .identity__vision {
  margin-bottom: 1.6rem;
}
.identity__mission-title, .identity__vision-title {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  text-align: center;
  color: #845ec2;
}
.identity__mission-image, .identity__vision-image {
  width: 50%;
  margin: 0 auto;
}
.identity__mission-image img, .identity__vision-image img {
  width: 100%;
}
.identity__mission-description, .identity__vision-description {
  font-size: 1.6rem;
  text-align: justify;
}

.investigation {
  margin-top: 3.2rem;
  text-align: center;
}
.investigation__title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  color: #845ec2;
}
.investigation__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}
.investigation__container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  height: 8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.investigation__container-card p {
  font-size: 1.6rem;
}
.investigation__container .dark {
  border: 1px solid #296073;
}
.investigation__container .middle {
  border: 1px solid #3596b5;
}
.investigation__container .light {
  border: 1px solid #adc5cf;
}
.investigation__container-card:hover p {
  color: #fff;
}
.investigation__container .dark:hover {
  background-color: #296073;
}
.investigation__container .middle:hover {
  background-color: #3596b5;
}
.investigation__container .light:hover {
  background-color: #adc5cf;
}

.projects {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.projects__title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  text-align: center;
  color: #845ec2;
}
.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.6rem;
}
.projects__container-card {
  width: 32rem;
  margin: 0 auto 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
}
.projects__container-card-image {
  width: 100%;
  height: 24rem;
}
.projects__container-card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  object-fit: cover;
}
.projects__container-card-description {
  padding: 0.8rem;
  border: 1px solid #296073;
  border-top: none;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.projects__container-card-description h3 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  color: #845ec2;
}
.projects__container-card-description p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  text-align: justify;
}
.projects__container-card-description div {
  display: flex;
  gap: 0.8rem;
  color: #3596b5;
}

.contact {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.contact__motivation {
  margin-bottom: 3.2rem;
  font-size: 1.6rem;
  text-align: justify;
}
.contact__motivation b {
  color: #845ec2;
}
.contact__form {
  margin: 0 auto;
  padding: 2.4rem;
  min-width: 25rem;
  max-width: 72rem;
  border-radius: 1.6rem;
  background-color: rgba(132, 94, 194, 0.2);
}
.contact__form-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 2.4rem;
}
.contact__form-card label {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #296073;
}
.contact__form-card input {
  height: 3.2rem;
}
.contact__form-card textarea {
  height: 6.4rem;
}
.contact__form-card input,
.contact__form-card textarea {
  padding: 1.6rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
}
.contact__form-card input:valid {
  border: 0.1rem solid green;
}
.contact__form-card input:focus,
.contact__form-card textarea:focus {
  outline: none;
  border: 0.1rem solid yellow;
}
.contact__form-button {
  display: block;
  width: 50%;
  height: 4rem;
  margin: 0 auto;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #296073;
  cursor: pointer;
}
.contact__form-button:hover {
  border: 1px solid #296073;
  color: #296073;
  background-color: #fff;
  cursor: pointer;
}
.contact #mailTo {
  opacity: 0;
}

.footer {
  margin-top: auto;
  text-align: center;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 1.6rem;
}
.footer__social .facebook {
  background-image: url("../../assets/icons/facebook.png");
}
.footer__social .instagram {
  background-image: url("../../assets/icons/instagram.png");
}
.footer__social .facebook,
.footer__social .instagram {
  display: block;
  width: 5rem;
  height: 5rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.footer__university {
  margin-bottom: 3.2rem;
}
.footer__university-text {
  font-size: 1.2rem;
}
.footer__university-text a {
  color: #000;
  text-decoration: none;
}
.footer__university-text a:hover {
  text-decoration: underline;
  color: #296073;
}

/*# sourceMappingURL=styles.css.map */
